.AppBarGradient {
  background: linear-gradient(45deg, #1D70B6 50%, #29235C 90%);
}

.AppBarTransition {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}