.heart {
  cursor: pointer;
  height:100%;
  width:100%;
  background-image:url('../../public/img/web_heart_animation.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 2900%;
  margin: -15px -15px -15px -15px;
}

.heart:hover {
  background-position:right;
}

.isActive {
  background-position:right;
}

.isBursting {
  animation: heart-burst .8s steps(28) 1;
  background-position:right;
}

@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}